<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注文管理システム</title>

    <link rel="stylesheet" href="/admin/orders/index.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/admin/products">商品管理</a></li>
                <li><a href="/admin/orders">注文管理</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>注文管理</h1>

        <% if (errorMessage) { %>
            <div style="color: red;"><%= errorMessage %></div>
        <% } else { %>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>商品名</th>
                        <th>個数</th>
                        <th>詳細</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach((order) => { %>
                    <tr>
                        <td><%= order.id %></td>
                        <td><%= order.name %></td>
                        <td><%= order.quantity %></td>
                        <td><a href="/admin/orders/<%= order.id %>">詳細</a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </main>
</body>

</html>